<!DOCTYPE html>
<html lang="fr" ng-app="toolate">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TooLate</title>


  <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.14/angular.js" data-semver="1.3.14"></script>
  <script src="js/app.js"></script>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/grayscale.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="InitController">

  <!-- Navigation non connecté-->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" ng-hide="connect">
    <div class="container">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#connexion">Connexion</a>
          </li>
          <li>
            <a class="page-scroll" href="#about">A propos</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>


  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" ng-show="connect">
    <div class="container">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <p style="align:left;float:left;">
      <img src="{{user.picture}}" class="img-circle" style="width:5%;"> 
      Bonjour {{user.given_name}}
      </p>
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav" >
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a href="#" ng-click="signout();">Déconnexion</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>


  <!-- Intro Header -->
  <header class="intro" ng-hide="connect">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">TooLate</h1>
            <p class="intro-text">Le site qui t'informe que t'as encore loupé un événement cool - too bad</p>
            <a href="#connexion" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Download Section -->
  <section id="connexion" class="content-section text-center" ng-hide="connect">
    <div class="download-section">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
          <!-- Form Name -->
          <legend>Connexion</legend>
          <a class="btn btn-large btn-success" ng-click="auth();">Se connecter</a>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="container content-section text-center" ng-hide="connect">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>TooLate</h2>
        <p>TooLate est une web application développer pour des étudiants du Master1 MIAGE de Nantes dans le cadre du cours de developpement WEB.</p>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="container content-section text-center" ng-hide="connect">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Nous contacter</h2>
        <p>Contactez nous pour nous faire un retour ... blabla pipo</p>
        <p><a href="mailto:loic.entressangle@etu.univ-nantes.fr">toolate@univ-nantes.fr</a>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://bitbucket.org/loic_ent/toolate-front" class="btn btn-default btn-lg"><i class="fa fa-bitbucket fa-fw"></i> <span class="network-name">Bitbucket</span></a>
          </li>
          <li>
            <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- Footer -->

  <!-- si connecte -->
  <section id="connecte" class="content-section text-center" ng-show="connect">
    <div>
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2" ng-controller="UserController">
          <legend>Évenements proposés</legend>
          <div class="row" ng-controller="ListEventController" style="text-align:left;">
           <button type="button" class="btn btn-default" ng-click="displayEvent()" style="text-align:center;">Afficher les événements</button>
              <ul>
                <li ng-repeat="event in user.events">{{event.title}} - fin le <b>{{event.endDate}}</b></li>
              </ul>
          </div>
          <legend>Mes préférences</legend>
          <div class="row">
              <div class="col-md-4" ng-repeat="catp in user.pref">
                <button type="button" class="btn btn-danger" ng-click="removePref(catp)" >{{catp.name}}</button>
              </div>
          </div>
          <button type="button" class="btn btn-primary" ng-click="savePref()" >Sauvegarder</button>
          <legend>Choisissez vos préférences</legend>
          {{alreadyAdd}}
          <div ng-controller="EventController" style="text-align:left;">
                    <button type="button" class="btn btn-default" ng-click="displayCats()" ng-show="isEmpty(allCats)" style="text-align:center;">Afficher toutes les catégories</button>
            <div class="row">
              <div class="col-md-4" ng-repeat="(index, cat)  in allCats" ng-if="$index%3===0">
                <button type="button" class="btn btn-success" ng-click="addPref(cat)">{{cat.name}}</button>
              </div>
              <div class="col-md-4" ng-repeat="cat in allCats" ng-if="$index%3===1">
                <button type="button" class="btn btn-success" ng-click="addPref(cat)">{{cat.name}}</button>
              </div>
              <div class="col-md-4" ng-repeat="cat in allCats" ng-if="$index%3===2">
                <button type="button" class="btn btn-success" ng-click="addPref(cat)">{{cat.name}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <footer>
    <div class="container text-center">
      <p>Copyright &copy; TooLate 2015</p>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/jquery.easing.min.js"></script>

  <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

  <!-- Custom Theme JavaScript -->
  <script src="js/grayscale.js"></script>

  <script>
    var init = function() {
      console.log("init called");
      window.init();
    };
  </script>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>


</body>

</html>
